body {
    font-family: Arial;
    background: #f1f1f1;
    margin: 0;
}

header {
    background: #cc0000;
    padding: 12px;
    color: white;
    font-size: 22px;
}

.container {
    width: 800px;
    margin: auto;
    background: white;
    padding: 20px;
}

.videoCard {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}